<!-- 
- The page where users can view all of their trips. This page is only accessible to logged in users. 
- The page displays all of the trips that the user has created. 
- Each trip is displayed as a card with the trip name, the trip destination, the trip start date, the trip end date, and the trip budget. 
- The user can click on the card to view the trip details. The user can also click on the "New trip" button to create a new trip. 
-->

<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Trip</th>
      <th>Destination</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% trips.forEach(function(t) { %>
      <tr>
        <td><%= t.name %></td>
        <td><%= t.destination %></td>
        <td><%= t.startDate %> - <%= t.endDate %></td>
        <td><a href="/trips/<%= t._id %>">OPEN</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>


<%- include('../partials/footer') %>