<!-- 
- The page where users can build and view their trips
- The page displays the trip name, the trip destination, the trip start date, the trip end date.
- They enter in the places they'd like to visit, and the activities they'd like to do.
- They enter their budget and the AI will generate a daily itinerary for them.
-->

<%- include('../partials/header') %>


<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-8 col-lg-6 mx-auto my-5">
    <h2 class="display-5 font-weight-normal"><%= trip.name %></h2>
    <p class="font-weight-normal"><%= trip.destination %> | <%= trip.startDate.toLocaleDateString() %> - <%= trip.endDate.toLocaleDateString() %></p>

    <br>

    <h2 class="display-7 font-weight-normal">Places to visit</h2>
  
    <form id="new-trip" action="/trips" method="POST" autocomplete="off">
      <div class="form-group row p-2">

        <div class="col-10 my-2 my-md-2 my-lg-1">
          <input type="text" class="form-control" id="tripName" name="name" placeholder="Add a location">
        </div>
        <div class="col-2 my-2 my-md-2 my-lg-1">
          <button type="submit" class="btn btn-outline-custom">Add</button>
        </div>

      </div>
    </form> 

    <br>

    <h2 class="display-7 font-weight-normal">Activities</h2>

    <form id="new-trip" action="/trips" method="POST" autocomplete="off">
      <div class="form-group row p-2">

        <div class="col-10 my-2 my-md-2 my-lg-1">
          <input type="text" class="form-control" id="tripName" name="name" placeholder="Add an activity">
        </div>
        <div class="col-2 my-2 my-md-2 my-lg-1">
          <button type="submit" class="btn btn-outline-custom">Add</button>
        </div>

      </div>
    </form> 

    <br>

    <h2 class="display-7 font-weight-normal">Budget</h2>
    
    <form id="new-trip" action="/trips" method="POST" autocomplete="off">
      <div class="form-group row p-2">
        <div class="col-10 my-2 my-md-2 my-lg-1">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <select class="form-control" id="currencySelect" name="currency">
                <option selected>USD - $</option>
                <option>EUR - €</option>
                <option>JPY - ¥</option>
                <option>GBP - £</option>
                <option>AUD - $</option>
                <option>CAD - $</option>
                <option>CHF - CHF</option>
                <option>CNY - ¥</option>
                <option>SEK - kr</option>
                <option>NZD - $</option>
                <option>MXN - $</option>
                <option>SGD - $</option>
              </select>
            </div>
            <input type="number" min="0" step="0.01" class="form-control" id="budgetInput" name="budget" placeholder="Enter your budget" required>
          </div>
        </div>
        <div class="col-2 my-2 my-md-2 my-lg-1">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </div>
    </form>
    
    


  </div>
</div>

<%- include('../partials/footer') %>