<!-- 
- The page where users can build and view their trips
- The page displays the trip name, the trip destination, the trip start date, the trip end date.
- They enter in the places they'd like to visit, and the activities they'd like to do.
- They enter their budget and the AI will generate a daily itinerary for them.
-->

<%- include('../partials/header') %>


<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <img src="<%= trip.userAvatar %>" alt="Avatar" width="55" height="55" class="d-inline-block align-text-top rounded-circle border border-success">

  <div class="col-md-8 col-lg-6 mx-auto mt-2 mb-4">

    <form action="/trips/<%= trip._id %>/name?_method=PUT" method="POST" autocomplete="off">
      <h2 class="display-5 font-weight-normal">
        <input type="text" class="form-control-plaintext text-center" id="tripName" name="name" value="<%= trip.name %>" onblur="this.form.submit()" onfocus="this.classList.add('bg-white')" onblur="this.classList.remove('bg-white')" />
      </h2>
    
    </form>
    <form action="/trips/<%= trip._id %>/destination?_method=PUT" method="POST" autocomplete="off">
      <h5 class="font-weight-normal">
        <input type="text" class="form-control-plaintext text-center" id="tripDestination" name="destination" value="<%= trip.destination %>" onblur="this.form.submit()" onfocus="this.classList.add('bg-white')" onblur="this.classList.remove('bg-white')" />
      </h5>
    </form>

    
    
    <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 my-3">
      <input type="text" id="daterange" class="date-picker form-control text-center" readonly value="<%= trip.startDate %> - <%= trip.endDate %>">
      <input type="hidden" id="tripId" value="<%= trip._id %>">
    </div>
    
    <h2 class="display-7 font-weight-normal mb-2">Fellow travellers</h2>

    <% trip.collaborators.forEach(function(c) { %>
      <img src="<%= c.userAvatar %>" alt="Avatar" width="35" height="35" class="d-inline-block align-text-top rounded-circle">
    <% }); %>
    
    <% if (user?._id.equals(trip.user._id)) { %>
      <form id="add-new-collaborator" action="/trips/<%= trip._id %>/collaborators" method="POST" autocomplete="off">
        <div class="form-group row p-2">
    
          <div class="col-10 mt-2 my-md-2 my-lg-1">
            <input type="text" class="form-control" id="collaborator" name="email" placeholder="Add your companion's email address">
          </div>
          <div class="col-2 my-2 my-md-2 my-lg-1">
            
            <button type="submit" class="btn btn-outline-custom float-end">Add</button>
          </div>
        </div>
      </form> 
    <% } %>
    

  <br>
    <h2 class="display-7 font-weight-normal mt-4">Places to visit</h2>

    <!-- ADDING NEW LOCATIONS -->
    <form id="add-new-location" action="/trips/<%= trip._id %>/locations" method="POST" autocomplete="off">
      <div class="form-group row p-2">

        <div class="col-10 my-2 my-md-2 my-lg-1">
          <input type="text" class="form-control" id="location" name="location" placeholder="Add a location">
        </div>
        <div class="col-2 my-2 my-md-2 my-lg-1">
          <button type="submit" class="btn btn-outline-custom float-end">Add</button>
        </div>
      </div>
    </form> 

    <!-- LISTING THE LOCATIONS -->

    <% trip.locations.forEach(function(l) { %>
      
      <li class ="list-group-item list-group-item-action col-sm-12 col-md-10 col-lg-8 p-2 list-group-item-light mb-1">

        <img class="rounded-circle float-start img-fluid" alt="avatar" src="<%= l.userAvatar %>" style="height:3.2vmin" referrerpolicy="no-referrer" >
        
        <strong><%= l.location %></strong>
  
        <% if (user?._id.equals(l.user)) { %>
          <form 
            action="/locations/<%= l._id %>?_method=DELETE"
            method="POST"
            class="delete-form d-inline">  
            <button type="submit" class="btn-close float-end" aria-label="Close"></button>
          </form>
        <% } %>
       
      </li>
    <% }); %>

    <br>

    <h2 class="display-7 font-weight-normal">Activities</h2>
    <!-- ADDING NEW ACTIVITIES -->
    <form id="add-new-activity" action="/trips/<%= trip._id %>/activities" method="POST" autocomplete="off">
      <div class="form-group row p-2">

        <div class="col-10 my-2 my-md-2 my-lg-1">
          <input type="text" class="form-control" id="activity" name="activity" placeholder="Add an activity">
        </div>
        <div class="col-2 my-2 my-md-2 my-lg-1">
          
          <button type="submit" class="btn btn-outline-custom float-end">Add</button>
        </div>
      </div>
    </form> 
    <!-- LISTING THE ACTIVITIES -->
    <% trip.activities.forEach(function(a) { %>
      
      <li class ="list-group-item list-group-item-action col-sm-12 col-md-10 col-lg-8 p-2 list-group-item-light mb-1">

        <img class="rounded-circle float-start img-fluid" alt="avatar" src="<%= a.userAvatar %>" style="height:3.2vmin" referrerpolicy="no-referrer" >

        <!-- <div class="float-start"> 
          &nbsp;
          <% let nameArr = a.userName.split(' ') %>
          <% let firstName = nameArr[0] %>
          <%= nameArr[0] %>
        </div> -->
        
        <strong><%= a.activity %></strong>
  
        <% if (user?._id.equals(a.user)) { %>
          <form 
          action="/activities/<%= a._id %>?_method=DELETE"
        method="POST"
        class="delete-form d-inline">  
        <button type="submit" class="btn-close float-end" aria-label="Close"></button>
      </form>
        <% } %>
       
      </li>
    <% }); %>

    <br>
    <!-- ADDING OR UPDATING BUDGET -->
    <h2 class="display-7 font-weight-normal">Budget</h2>
    
    <form id="budget-form" action="/trips/<%= trip._id %>/budget?_method=PUT" method="POST" autocomplete="off">
      <div class="form-group row p-2">
        <div class="col-10 my-2 my-md-2 my-lg-1">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <select class="form-control" id="currencySelect" name="currency" value="<%= trip.currency %>">
                <option selected>USD - $</option>
                <option>EUR - €</option>
                <option>JPY - ¥</option>
                <option>GBP - £</option>
                <option>AUD - $</option>
                <option>CAD - $</option>
                <option>CHF - CHF</option>
                <option>CNY - ¥</option>
                <option>SEK - kr</option>
                <option>NZD - $</option>
                <option>MXN - $</option>
                <option>SGD - $</option>
              </select>
            </div>
            <input type="number" min="0" step="50.00" class="form-control" id="budgetInput" name="budget" placeholder="Enter your budget" value="<%= trip.budget %>" required>
          </div>
        </div>
        <div class="col-2 my-2 my-md-2 my-lg-1">
          <button type="submit" class="btn btn-primary float-end"><%= trip.budget ? "Update" : "Add" %></button>
        </div>
      </div>
      <h4 class="font-weight-normal"><%= trip.currency.split(' - ')[1] %><%= trip.budget %></h4>
      
    </form>

  </div>

  <div class="col-sm-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 my-3">  

    <form id="itinerary-form" action="/trips/<%= trip._id %>/itineraries" method="POST" autocomplete="off">
      <div class="form-group row p-2">
        <button type="submit" class="btn btn-outline-custom float-end">Generate itinerary</button>
      </div>
    </form> 

    <div class="d-flex justify-content-center align-items-center mt-3" style="height: 100%;">
      <div class="spinner-border" role="status" id="spinner" style="display: none;">
        <span class="sr-only"></span>
      </div>
    </div>
    
</div>

  <br>

  <% if (trip.itinerary && trip.itinerary.length > 1) { %>
    <h2 class="display-7 font-weight-normal">Your Itinerary</h2>
    <!-- Your itinerary list here -->
  <% } %>

<div class="col-sm-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 my-3">
  <div class="form-group row p-2">

    <!-- <p><%= trip.itinerary.at(-1).itinerary %></p> -->

    <% let tripArr = trip.itinerary.at(-1).itinerary; %>
    <% daysArr = tripArr.map(day => day.replace(/\n/g, '')); %>
    
    <% let data = daysArr[0].replace(/Day /g, 'SPLIT_HERE Day '); %>
    <% let array = data.split('SPLIT_HERE '); %>
    <% array.shift(); %>
    
    <% array.forEach(function(i) { %>
      <% let day = i.split(':') %>

      <h5><%= day[0].trim() %></h5>
      <li class ="list-group-item col-12 list-group-item-light mb-3">
      <%= day[1].trim() %>
      </li>

    <% }); %>
  
  </div>


</div>


<br>



    <!-- ADDING COLLABORATORS -->

</div>


<%- include('../partials/footer') %>